.userTable {
  width: 60%;
  background-color: #ffffff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
}

.addButton {
  text-decoration: none;
  background-color: #800080;
  color: #ffffff;
  font-weight: 500;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  padding: 10px;
}

.userTable table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

.userTable table thead th {
  background-color: #fa8072;
  color: #ffffff;
  padding: 10px;
}

.userTable table tbody td {
  padding: 10px;
  text-align: center;
}

.actionButtons button {
  border: 0;
  outline: none;
  background: #ff0000;
  padding: 8px 10px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.actionButtons a {
  background: green;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  margin: 0 10px;
  text-decoration: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(53, 44, 44);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .userTable {
    width: 100%;
    padding: 20px;
  }

  .addButton {
    font-size: 14px;
    padding: 8px;
  }

  .userTable table thead th {
    padding: 8px;
  }

  .userTable table tbody td {
    padding: 8px;
  }

  .actionButtons button,
  .actionButtons a {
    padding: 6px 8px;
  }

  .tooltip .tooltiptext {
    margin-left: -90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 475px) {
  .userTable {
    width: 100%;
    padding: 10px;
  }

  .addButton {
    font-size: 14px;
    padding: 6px;
    margin-top: 15px;
  }

  .userTable table thead th {
    padding: 4px;
  }

  .userTable table tbody td {
    padding: 8px;
  }

  .actionButtons button,
  .actionButtons a {
    padding: 4px 6px;
    margin-bottom: 8px;
  }

  .tooltip .tooltiptext {
    margin-left: -70px;
  }
}
